<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tangled ManeZ: About</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#header").load("header");
            $("#footer").load("footer");
        });
    </script>
    <link rel="stylesheet" href="/main_style.css" />
    <link rel="stylesheet" href="/footer_style.css" />
    <link rel="stylesheet" href="/header_style.css" />
</head>
<body>
<div id="header"></div>
<div id="body">
       <h3>Who am I?</h3>
    <img src="lisa_tea.jpg" class="about-image" align="right"/>
    <p class="body-text-block">
My name is Lisa Hoesing. I live in Santa Cruz, CA. I have an MA Ed from UC Santa Cruz. I took the Certified Zentangle Teacher (CZT) training in 2014. Since then, I’ve been teaching classes in person. I am a retired computer programmer. Over the years, before I started Zentangle, I did mostly what was considered fiber arts.
</p><p class="body-text-block">
    <em>“High tech, high touch.” – John Naisbitt</em>
</p><p class="body-text-block">
That has been my motto.  While I worked with computers, at home I worked with highly tactile fables...
</p><p class="body-text-block">
You may think of fiber arts as weaving, knitting and sewing. Yes, I did those.  I also made paper.  It started when I took a Chinese pushpin class and they had us painting on beautiful Japanese papers then I learn to make my own and I spent many years making large art pieces of paper and small pieces of paper to give away.

</p>
<img src="gallery/image025.jpg" class="about-image-left" align="left"/>

    <p class="body-text-block">

    I enjoyed being a member of The Friends of Dard Hunter. They are now called The North American Hand Papermakers. I made a lot of paper and I love hand made paper.

Zentangle brought joy and relaxation into my life.
</p>


    <p class="body-text-block">
One of the main reasons I love teaching Zentangle is that it brings joy into people’s lives. There is nothing  more fun for me than watching the way anyone, child or adult, looks at their tile and realizes that they may have started the class claiming they were not an artist, but at the end of the class they have made  a beautiful piece of art.
</p><p class="body-text-block">
When Covid put us in lockdown in March 2020, I had just said I would teach somebody. I had to call him and say, “I can’t meet with you.”  I offered him the chance to take my class free while I tried to learn to teach on zoom, something I have never done. He very kindly, said yes.  I taught several classes and I learned Zoom myself.

I began to offer classes free to various other communities as stress relief from the impacts of Covid.  I ended up teaching twice a week.

    Please look for my <a href="/classes">Upcoming Classes</a> to register.
    </p>

    <h3>What is Zentangle?</h3>
    <img src="gallery/image023.jpg" class="about-image" align="right"/>
<p class="body-text-block">
    The <a href="https://zentangle.com/" target="_blank">Zentangle</a> method is an easy-to-learn, relaxing, and fun way to create beautiful images by drawing structured patterns.
</p><p class="body-text-block">
The materials are elegantly designed, crafted and presented. Rick Roberts and Maria Thomas, who created Zentangle art, chose Sakura Pigma Micron pens to complement their museum quality papers for long lasting, beautiful results.  Sakura Pigma 01 and other Sakura pens,  a pencil,  a tortillion, and Original Zentangle Tiles.
</p><p class="body-text-block">
A tile is a small piece of paper, originally a 3 1/2 inch square white piece of handmade 100% cotton paper from Italy.  Tiles, at the end of a Zentangle drawing class, are laid out next to each other, creating  a Mosaic.
</p><p class="body-text-block">
Stress relief is another  one of the miracles of Zentangle.  It has a mindfulness aspect.  As you focus on the one line at a time that you’re drawing, you are not thinking about the dishes or your job.
</p><p class="body-text-block">
    <em>The Book of Zentangle</em> says, “Be thankful for this opportunity to treat yourself to this moment of creativity.”
</p>









    <h3>My Zentangle Story</h3>
    <img src="gallery/image021.jpg" class="about-image" align="right"/>
<p class="body-text-block">
I recently found a tile from 2010.  I have tiles all over my house.
</p><p class="body-text-block">
In 2010, I discovered Zentangle while looking for a way to relax and meditate.  I have always had trouble sitting still and meditating.  Zentangle allowed me to move, by drawing, while meditating, I was also  attracted to Zentangle’s artistic side.
</p><p class="body-text-block">
I started drawing tiles most nights before I went to bed.  Zentangle helped me calm down and get to sleep.  I discovered that it also helped ease my chronic pain. As I focused on my drawing I was not focusing on my pain.  After 15 minutes of drawing, my pain level has decreased.  This is a wonderful benefit and I am not the only one who noticed it.
</p>
    <img src="lisa_headshot.jpg" class="about-image-left-tall" align="left" />
    <p class="body-text-block">
I found myself wanting to teach others this marvelous technique.
</p>

    <p class="body-text-block">
Historically, in any job I had, I was always the one to teach others whatever I knew. I have taught computer skills at many places around Santa Cruz, including Cabrillo  College, Dominican Hospital, Santa Cruz County Offices,  and in the student labs at UCSC.
</p><p class="body-text-block">
It wasn’t until 2014 that I managed to get into the CZT training class number 14.
Since then, I have continued my own practice, and taught classes in person.
</p><p class="body-text-block">
    I have also been privileged to be able to take classes locally with Rick Robert’s,  Maria Thomas, Molly Hollibaugh and Martha Huggins. They’ve come from Massachusetts out to Scotts Valley, California to a retreat center called <a href="https://www.1440.org/" target="_blank">1440</a>. I took several classes there in 2018 and 2019.
I hope to take classes at 1440 again.
</p><p class="body-text-block">
In 2020, I started teaching online on using Zoom and Facebook to reach many people locally, nationally. and internationally. I hope I teach my students to  extend their creativity and mindfulness practices, and  to help them get through the stress of the Covid pandemic.
</p>
    <br>

</div>
<div id="footer"></div>
</body>
</html>