<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tangled ManeZ: Classes</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#header").load("header");
            $("#footer").load("footer");
        });
    </script>
    <link rel="stylesheet" href="/main_style.css" />
    <link rel="stylesheet" href="/footer_style.css" />
    <link rel="stylesheet" href="/header_style.css" />
</head>
<body>
<div id="header"></div>
<div id="body">
    <img src="lisa_tea.jpg" id="classes-image" align="right"/>
    <div id="classes-text">
    <h3>Upcoming Classes</h3>
    <h2>Wednesday  5:00 - 5:30 pm </h2>
    <p>We are working through a series of classes focusing on “official" tangles, a.k.a. “Headquarters Tangles".
     Please <a href="mailto:lisasuehoesing@gmail.com">email me</a> for information.</p><br>
    <h2>Saturday 4:00 - 5:30 pm </h2>
    <p>These classes are ZIA, Zentangle Inspired Art tiles.  They are often centered around a holiday or seasonal theme.

    Please <a href="mailto:lisasuehoesing@gmail.com">email me</a> for information.</p>
    </div>
</div>
<div id="footer"></div>
</body>
</html>