<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tangled ManeZ: Contact</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#header").load("header");
            $("#footer").load("footer");
        });
    </script>
    <link rel="stylesheet" href="/main_style.css" />
    <link rel="stylesheet" href="/footer_style.css" />
    <link rel="stylesheet" href="/header_style.css" />
    <link rel="stylesheet" href="/contact_style.css" />
</head>
<body>
<div id="header"></div>
<div id="body">
    <h3>Thank you for contacting me!</h3><br>
    <p class="body-text-block">I'll get back to you as soon as I can.</p>

    <h3 style="line-height: 1.4">Social Media</h3>
    <a href="https://www.facebook.com/lisa.hoesing" class="social-link" target="_blank"><img src="facebook_logo.png" /></a>
    &nbsp;&nbsp;
    <a href="https://www.pinterest.es/lisasuehoesing" class="social-link" target="_blank"><img src="pinterest.png" /></a>



</div>
<div id="footer"></div>
</body>
</html>