@font-face {
    font-family: "Bookman Old";
    src: url(/bookman_old.TTF);
}

body {
    margin: 0;
    background-color: #81D8D0;
    font-family: "Bookman Old";
}

#body {
    padding: 10px;
    padding-top: 333px;
    font-size: 16px;
    background-color: #fbffe6;
    min-height: calc(100vh - 300px);
}

#body.gallery-body {
    padding: 88px 0 0 0;
}

#body.contact-body {
    padding: 88px 10px 10px 10px;
}

#body.undersized{
    overflow: hidden;
    width: 100%;
    position: fixed;
}

h3 {
    font-size: 30px;
    color: #697989;
    margin-bottom: 5px;
}

.body-text-block {
    font-size: 20px;
    margin-top: 5px;
}

a {
    color: #40b4c7;
}

a:hover {
    color: #3a57a0;
}

#gallery {
    width: 100%;
    line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0;
  -moz-column-count:    5;
  -moz-column-gap:      0;
  column-count:         5;
  column-gap:           0;
}

.gallery-image {
    width: 100% !important;
    display: block;
    height: auto;
}

.galleryimage-container {
    height: auto !important;
    position: relative;
}

.galleryimage-text {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 1.35;
    margin-top: 10px;
    margin-bottom: 10px;
}

.galleryimage-container:hover .galleryimage-text {
    opacity: 1;
}

@media (max-width: 1200px) {
  #gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.about-image {
    padding-left: 10px;
    padding-right: 5px;
    width: 25%;
    padding-bottom: 10px;
    max-width: 20em;
}

.about-image-left {
    padding-right: 10px;
    width: 22%;
    max-width: 20em;
}

.about-image-left-tall {
    padding-right: 10px;
    width: 23%;
}

.social-link {
    font-size: 25px;
    vertical-align: center;
}

.social-link img {
    height: 70px;
}

.about-section {
    display: block;
    margin-top: 20px;
}

#classes-image {
    padding-top: 30px;
    height: 18em;
    margin-right: 30px;
}

.home-box {
    margin: auto;
    width: 60%;
    /*border: 5px solid #81D8D0;*/
    /*padding: 10px;*/
    margin-top: 40px;

    border: 30px solid transparent;
    padding: 20px;
    border-image: url(combined_tngldmnz_frame.png) 90 round;

    position: relative;
}

.column {
  float: left;
  width: 50%;
}

.home-box:after {
  content: "";
  display: table;
  clear: both;
}

.home-img {
    height: 250px;
    float: right;
}

.home-title {
    margin-top: 5px;
}

.home-subtitle {
    font-size: 22px;
    color: #8797a7;
    margin-top: 0;
    margin-bottom: 5px;
}

.home-date {
    font-size: 16px;
    color: #8797a7;
    margin-top: 0;
    margin-bottom: 10px;
}

.home-contact {

}

.home-box-left {
    overflow: scroll;
    height: 100%;
}
